target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

node_modules/
src/main/resources/static/
src/main/resources/templates/
!src/main/resources/static/fonts/
!src/main/resources/static/images/
!src/main/resources/templates/error/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/